*{
    margin: 0;
    padding: 0;
}
/* */
body{
    background-color: gray;
    color: #fff;
}
/* */
h1 {
    text-align: center;
    font-size: 50px;
    color: #fff;
}
/* */
.global-meny, a, li{
	display:inline-block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
    font-size: 25px;
	text-align: center;
    list-style: none;
    margin-top: 50px;
}
/* */
.local-meny {
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 25px;
	text-align: center;
    list-style: none;
    margin-top: 50px;
}
/* */
.Övertext {
    font-size: 25px;
    color: #fff;
    text-align: center;
	margin-top: 30px;
}
/* */
.motorsport{
	display: block;
    width:1200px; 
    height:680px;
    margin-left: auto;
	margin-right: auto;
    padding: 50px;
}
/* */
.text{
    color: #fff; 
    font-size: 20px; 
    text-align: center;
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 30px;
}